*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    list-style: none;
}
.header{
    background-image:
    linear-gradient(to right, rgb(0, 153, 255),rgb(0, 195, 255));
    padding: 60px 0;
    margin-bottom: 30px;
}
.container-header{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title{
    font-size: 40px;
    text-transform: uppercase;
    color:#fff;
    text-shadow: .2px .2px 0.2px black;
    position: relative;
    z-index: 3;
}
.logo{
    position: relative;
}
.logo .fa-cloud-sun-rain{
    position: absolute;
    left: -90px;
    font-size: 80px;
    top:-24px;
    text-shadow: .2px .2px 0.2px black;
    color: #fff;
}
.submit-form{
    position: relative;
}
.submit-btn{
    position: absolute;
    border:none;
    background: transparent;
    right:5px;
    bottom: 3px;
    font-size: 18px;
    opacity: 0.5;
    cursor: pointer;
}
.submit-input{
    border: none;
    border-radius: 10px;
    height: 30px;
    width:200px;
    font:bold normal 16px arial;
    padding-left: 8px;
}

.container-results{
    display:flex;
    max-width:700px;
    margin:0 auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.msgInit{
    text-align: center;
}

.results-cards{
    height:350px;
    width:200px;
    margin:10px 16.65px;
    border:solid black 1px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background:rgba(0, 0, 0, 0.247);
    background-blend-mode: darken; 
}
.results:hover{
}
.results-cards.nublado{
    background-image: url("/img/tempo-nublado.jpg");   
}
.results-cards.céulimpo{
    background-image: url("/img/dddddd.jpg");  
    
}
.results-cards.poucasnuvens{
    background-image: url("/img/ceu-poucas-nuvens.jpg");   
}
.results-cards.nuvensdispersas{
    
    background-image:url("/img/nuvens-dispersas.jpg");  
}
.results-cards.chuviscos{
    background-image: url("/img/chuviscos.jpg");   
}
.results-cards.chuvafraca{
    background-image: url("/img/chuva-fraca.jpg"); 
    
}
.results-cards.chuvamoderada{
    background-image: url('/img/chuvamoderada.jpg');
}

.results-city{
    font:200 normal 20px arial;
    font-weight: 700;
}
.results-descri{
 font:400 normal 16px arial;
}

.text--mod{
  color:#fff;
  text-shadow: 1px 1px 3px black;
  text-transform: uppercase;
}
.results-temp.text--mod{
    font-size: 50px;
    font-weight: 700;
}
.results-senstemp{
    font:400 normal 13px arial;
}
.date{
    font:600 normal 17px arial;
}
.container-error{
    text-align: center;
    height: 50px;

}
.msg-error{
    color:rgba(250, 4, 4, 0.89);
    font-size: 20px;
}