*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    list-style: none;
}
html{
    font-size: 62.5%;
   
}
body{
    font-size: 1.4rem;
    display: flex;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
}
.header{
    background-image:
    linear-gradient(to right, rgb(0, 153, 255),rgb(0, 195, 255));
    padding: 4rem 1rem;
    
}
.container-header{
    max-width: 50rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.title{
    font-size: 4rem;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px black;
    position: relative;
    z-index: 3;
}
.logo{
    position: relative;
}
.logo .fa-cloud-sun-rain{
    position: absolute;
    left: -9rem;
    font-size: 8rem;
    top:-2.4rem;
    text-shadow: 2px 2px 2px black;
}
.submit-form{
    position: relative;
}
.submit-btn{
    position: absolute;
    border:none;
    background: transparent;
    right:.5rem;
    bottom: .3rem;
    font-size: 1.8rem;
    opacity: 0.5;
    cursor: pointer;
}
.submit-input{
    border: none;
    border-radius: 1rem;
    height: 3rem;
    width:20rem;
    font:bold normal 1.6rem arial;
    padding-left: .8rem;
    color:#000;
}
.fa-search{
    color:#000;
}

.container-results{
    display:flex;
    max-width:72rem;
    margin:0 auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.msgInit{
    text-align: center;
    font:600 normal 1.6rem arial;
    color:#000;
}
.results-cards{
    height:35rem;
    flex:1 0 20rem;
    margin:2rem 1.665rem;
    border:solid black 1px;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background:rgba(0, 0, 0, 0.247);
    background-blend-mode: darken;
    border: none;
    box-shadow: 1px 1px 5px black;
    transition: .3s ease-in-out;
    opacity: .9
}
.results-cards:hover{
    transform: scale(1.12);
    opacity: 1;
}
.results-cards.nublado{
    background-image: url("/img/tempo-nublado.jpg");   
}
.results-cards.céulimpo{
    background-image: url("/img/dddddd.jpg");  
    
}
.results-cards.poucasnuvens{
    background-image: url("/img/ceu-poucas-nuvens.jpg");   
}
.results-cards.nuvensdispersas{
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url("/img/nuvens-dispersas.jpg");  
}
.results-cards.chuviscos{
    background-image: url("/img/chuviscos.jpg");   
}
.results-cards.chuvafraca{
    background-image: url("/img/chuva-fraca.jpg"); 
    
}
.results-cards.chuvamoderada{
    background-image: url('/img/chuvamoderada.jpg');
}

.results-city{
    font:200 normal 2rem arial;
    font-weight: 700;
}
.results-descri{
 font:400 normal 1.6rem arial;
}

.text--mod{
  color:#fff;
  text-shadow: 1px 1px 3px black;
  text-transform: uppercase;
}
.results-temp.text--mod{
    font-size: 5rem;
    font-weight: 700;
}
.results-senstemp{
    font:400 normal 1.3rem arial;
}
.date{
    font:600 normal 1.7rem arial;
}
.btn-closed{
    position: absolute;
    top:0rem;
    right:.02rem;
    width: 3rem;
    height: 3rem;
    border-radius:50%;
    background: rgba(255,255,255,0.4);
    backdrop-filter: blur(10px);
    border-radius: 50%;
    border: 1px solid rgba(255,255,255,0.2);
    color:black;
    font-weight:bold;
    font-size:1.5rem;
    cursor: pointer;
}
.container-warning{
    text-align: center;
    margin-top: 2rem;
    height: 2rem;
}
.container-information{
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    background: rgb(0, 195, 255);
    flex-wrap: wrap;
    
}
.msgInfo{
    font:400 normal 1.6rem arial;
}
.maxTemp,.minTemp{
    width: 20rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.5rem;
}
.wrapper-span{
    margin-right: 1.5rem;
}
.fa-arrow-up{
    color:rgb(160, 25, 25);
    animation: arrowUp ease-in-out 1s infinite alternate-reverse;
}
.fa-arrow-down{
    color: rgba(17, 40, 104, 0.986);
    animation: arrowUp ease-in-out 1s infinite alternate-reverse;
}
@keyframes arrowDown{
    to{
        transform: translate3d(0,1rem,0);
    }
    from{
        transform: translate3d(0,-.7rem,0);
    }
}
@keyframes arrowUp{
    to{
        transform: translate3d(0,1rem,0);
    }
    from{
        transform: translate3d(0,-.7rem,0);
    }
}
.max-city,.max-temp,.min-city,.min-temp{
    display: block;
    color:#fff;
    font-weight: 600;
}
.msg-error{
    color:rgba(250, 4, 4, 0.89);
    font-size: 2rem;
}
@media (max-width:703px){
    .container-header{
        justify-content: center;
        flex-direction: column;
    }
    .submit-input{
        margin-top:3rem;
    }
    .maxTemp,.minTemp{
        margin: 1rem 0;
        font-size: 1.4rem;
        width: 13rem;
    }
    .results-cards{
        min-width: 18rem;
        height:20rem;
    }
    .main{
        padding:0 1rem;
    }
}